<div class="flex flex-col max-w-6xl h-screen justify-center px-6 m-auto">
    <div class="flex flex-col gap-4 max-w-2xl">
        <h1 class="text-fg-high text-8xl font-sans font-bold">Empathiser.</br>Problem solver.</h1>
        <p class="text-fg-high text-2xl">
            Lead product designer / developer, currently working in HealthTech. 
            I take a pragmatic approach to designing and building better user interfaces.
        </p>
    </div>
</div>