<div class="flex max-w-6xl h-screen items-center px-6 m-auto">
    <div class="w-full max-w-4xl flex flex-col gap-4">
        <h1 class="text-fg-high text-8xl font-sans font-bold">Empathiser.</br>Problem solver.</h1>
        <p class="text-fg-high text-2xl">
            Hi. My name is Ivan Griessel. 
            I’m a product designer with 10+ years experience a strong background in visual design.
        </p>
    </div>
</div>