/*============================
OLD COLOURS
============================*/

@font-face {
    font-family: 'ibm_plex_serif_regular';
    src: url('../fonts/IBM-Plex-Serif-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IBM-Plex-Serif-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/IBM-Plex-Serif-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/IBM-Plex-Serif-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/IBM-Plex-Serif-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/IBM-Plex-Serif-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: 400;
}

@font-face {
    font-family: 'ibm_plex_sans_regular';
    src: url('../fonts/IBM-Plex-Sans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IBM-Plex-Sans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/IBM-Plex-Sans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/IBM-Plex-Sans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/IBM-Plex-Sans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/IBM-Plex-Sans-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: 400;
}

@font-face {
    font-family: 'ibm_plex_sans_semibold';
    src: url('../fonts/IBM-Plex-Sans-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IBM-Plex-Sans-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/IBM-Plex-Sans-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/IBM-Plex-Sans-600.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/IBM-Plex-Sans-600.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/IBM-Plex-Sans-600.svg') format('svg'); /* Legacy iOS */
    font-weight: 400;
}

/*============================
NEW COLOURS
============================*/

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('../fonts/AvenirNext-Bold.eot');
    src: url('../fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNext-Bold.woff') format('woff'),
        url('../fonts/AvenirNext-Bold.ttf') format('truetype'),
        url('../fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../fonts/AvenirNext-DemiBold.eot');
    src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
        url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
        url('../fonts/AvenirNext-DemiBold.ttf') format('truetype'),
        url('../fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Regular.eot');
    src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNext-Regular.woff') format('woff'),
        url('../fonts/AvenirNext-Regular.ttf') format('truetype'),
        url('../fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /*============================
    COLOURS
    ============================*/
    /* 
    Colour groups: fg, bg, border
    Colour roles: default, muted, accent, success, attention, danger, severe, done
    */
    
    --col-fg-default: hsla(0, 0%, 0%, 1);         /* Primary colour for text and icons. Used for body content, titles and lables */
    --col-fg-muted: hsla(0, 0%, 0%, .7);          /* Use for content that is secondary or that provides additional context but is not critical to understanding the flow of an interface. */
    --col-fg-accent: hsla(184, 37%, 61%, 1);      /* Use for interactive text or icons like links or buttons. */

    --col-bg-default: hsla(210, 15%, 95%, 1);     /* Primary background colour */

    --col-border-default: hsla(0, 0%, 0%, 1);     /* Use to create bounds around content, for example elements inside a card. Default borders are critical to understanding a page layout. */
    --col-border-muted: hsla(0, 0%, 0%, .7);      /* Use for dividers to emphasize the separation between items, columns or sections. */
 
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    background-color: var(--col-bg-default);
    color: var(--col-fg-default); 
}

body {
    height: 100vh;
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: var(--col-fg-default);
}

p strong{
    font-family: 'Avenir Next Demi';
    font-weight: 600;
}

/*============================
CLASSES
============================*/

.title-3 {
    font-family: 'Avenir Next Bold';
    font-weight: bold;
    font-size: 40px;
    line-height: 1.25;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 32px 32px 16px 32px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.section-wrapper {   
    padding: 32px;
}

.header-content {
    max-width: 840px;
}

.header-content h1{
    margin-bottom: 24px;
}

/*============================
IDs
============================*/

#nav-selected {
    font-family: 'ibm_plex_sans_semibold';
    font-weight: 600;
}

/*============================
MEDIA QUERIES
============================*/

@media only screen and (min-width: 800px) {
    body {
        font-size: 24px;
    }

    p strong {
        font-size: 24px;
    }

    .title-3 {
        font-size: 64px;
    }

    .nav-wrapper {
        justify-content: left;
        padding: 48px 80px 16px 80px;
    }

    .nav-list {
        justify-content: flex-start;
        gap: 48px;
    }
}